In [8]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [9]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [10]:
from word2number import w2n

# Load the CSV file
df = pd.read_csv('hiring.csv')

# Function to handle conversion and empty values
def convert_word_to_num(word):
    if pd.isna(word) or word == '':
        return 0
    else:
        return w2n.word_to_num(word)

# Apply the conversion function to the 'experience' column
df['experience_numeric'] = df['experience'].apply(convert_word_to_num)

In [11]:
df.drop(columns=['experience'], inplace=True)
df

,test_score(out of 10),interview_score(out of 10),salary($),experience_numeric
0,8.0,9,50000,0
1,8.0,6,45000,0
2,6.0,7,60000,5
3,10.0,10,65000,2
4,9.0,6,70000,7
5,7.0,10,62000,3
6,NaN,7,72000,10
7,7.0,8,80000,11

In [12]:
df.rename(columns={'test_score(out of 10)': 'test_score'}, inplace=True)

In [13]:
df.test_score.median()

8.0

In [16]:
df.test_score=df.test_score.fillna(df.test_score.median())
df

   test_score  interview_score(out of 10)  salary($)  experience_numeric
0         8.0                           9      50000                   0
1         8.0                           6      45000                   0
2         6.0                           7      60000                   5
3        10.0                          10      65000                   2
4         9.0                           6      70000                   7
5         7.0                          10      62000                   3
6         8.0                           7      72000                  10
7         7.0                           8      80000                  11

In [21]:
df.rename(columns={'salary($)': 'salary','interview_score(out of 10)':'interview_score'}, inplace=True)
df

   test_score  interview_score  salary  experience_numeric
0         8.0                9   50000                   0
1         8.0                6   45000                   0
2         6.0                7   60000                   5
3        10.0               10   65000                   2
4         9.0                6   70000                   7
5         7.0               10   62000                   3
6         8.0                7   72000                  10
7         7.0                8   80000                  11

In [22]:
reg = linear_model.LinearRegression()
reg.fit(df[['test_score','interview_score','experience_numeric']],df.salary)

LinearRegression()

In [23]:
reg.predict([[10,10,12]])

C:\Users\Rohan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])

In [24]:
reg.predict([[9,6,2]])

C:\Users\Rohan\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])