# Heart Failure Prediction

Download heart disease dataset heart.csv in Exercise folder and do following, (credits of dataset: https://www.kaggle.com/fedesoriano/heart-failure-prediction)

• Load heart disease dataset in pandas dataframe
• Remove outliers using Z score. Usual guideline is to remove anything that has Z score > 3 formula or Z score < -3
• Convert text columns to numbers using label encoding and one hot encoding
• Apply scaling
• Build a classification model using various methods (SVM, logistic regression, random forest) and check which model gives you the best accuracy
• Now use PCA to reduce dimensions, retrain your model and see what impact it has on your model in terms of accuracy. Keep in mind that many times      doing PCA reduces the accuracy but computation is much lighter and that's the trade off you need to consider while building models in real life

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
df.describe

<bound method NDFrame.describe of      Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]>

##### This used to identify and filter out rows in the DataFrame df where the value in the Cholesterol column is significantly higher than the average

In [7]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [8]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [9]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [10]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [11]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

##### This used to identify and filter out rows in the DataFrame df where the value in the Oldpeak column is significantly higher than the average

In [12]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [13]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

##### This used to identify and filter out rows in the DataFrame df where the value in the RestingBP column is significantly higher than the average

In [14]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [15]:
df.ChestPainType.unique() # for this we hot encoding

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [16]:
df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [17]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [18]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

### label encoding

In [19]:
df4 = df3.copy() # copy all data from the df3
df4.ExerciseAngina.replace(
    {
        'N': 0,
        'Y': 1
    },
    inplace=True)

df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,1,172,0,0.0,3,0
1,49,F,NAP,160,180,0,1,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,1,108,1,1.5,2,1
4,54,M,NAP,150,195,0,1,122,0,0.0,3,0

In [20]:
df5 = pd.get_dummies(df4)
df5 =df5.astype(int)
df5

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0,3,0,0,1,0,1,0,0
1,49,160,180,0,1,156,0,1,2,1,1,0,0,0,1,0
2,37,130,283,0,2,98,0,0,3,0,0,1,0,1,0,0
3,48,138,214,0,1,108,1,1,2,1,1,0,1,0,0,0
4,54,150,195,0,1,122,0,0,3,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1,2,1,0,1,0,0,0,1
914,68,144,193,1,1,141,0,3,2,1,0,1,1,0,0,0
915,57,130,131,0,1,115,1,1,2,1,0,1,1,0,0,0
916,57,130,236,0,3,174,0,0,2,1,1,0,0,1,0,0
917,38,138,175,0,1,173,0,0,3,0,0,1,0,0,1,0

In [21]:
x = df5.drop('HeartDisease',axis='columns')
y = df5.HeartDisease

In [40]:
x.head()

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_F,Sex_M,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0,3,0,1,0,1,0,0
1,49,160,180,0,1,156,0,1,2,1,0,0,0,1,0
2,37,130,283,0,2,98,0,0,3,0,1,0,1,0,0
3,48,138,214,0,1,108,1,1,2,1,0,1,0,0,0
4,54,150,195,0,1,122,0,0,3,0,1,0,0,1,0

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scalar = StandardScaler()
x_scaled = scalar.fit_transform(x)

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.2,random_state=30)

In [25]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(x_train, y_train)
model_rf.score(x_test, y_test)

0.856353591160221

In [26]:
from sklearn.decomposition import PCA
pca = PCA(0.95)

In [27]:
x_pca = pca.fit_transform(x)

In [28]:
x_pca.shape

(902, 2)

In [29]:
x_train_pca,x_test_pca,y_train_pca,y_test_pca = train_test_split(x_pca,y,test_size=0.2)

In [30]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier()

In [31]:
model_rf.fit(x_train_pca,y_train_pca)

RandomForestClassifier()

In [32]:
model_rf.score(x_test_pca,y_test_pca)

0.712707182320442

In [47]:
model_rf.predict(x_test_pca)

array([0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 0])

In [49]:
x_test_pca

array([[ 3.90341322e+00, -2.70952184e+01],
       [ 2.52774908e+01, -6.75574631e+00],
       [ 9.08519470e+01,  3.00164589e+00],
       [ 7.39862471e+01,  5.59539198e+01],
       [ 5.37195726e+01, -3.91501745e+01],
       [-2.19019759e+00,  1.25172118e+01],
       [ 3.25355775e+01, -3.71908925e+00],
       [ 5.18143869e+01, -5.08587300e+00],
       [-5.18452058e+00,  1.82423665e+01],
       [ 4.44397829e+01, -4.00827171e+00],
       [ 1.05710385e+02,  1.50455634e+01],
       [ 1.04980373e+01, -8.95424268e+00],
       [ 1.12906828e+02, -4.11712528e+01],
       [ 6.10499415e+01,  2.09139621e+01],
       [ 5.71109244e+01, -1.31962651e+00],
       [ 2.67178867e+01,  4.16134918e+01],
       [ 6.08033835e-01,  3.89847112e+01],
       [ 9.53311049e+01, -1.03402024e+01],
       [ 1.20429999e+01,  3.30454432e+01],
       [ 2.41258495e+01,  1.86963149e+01],
       [ 1.10934644e+01,  8.05282047e+00],
       [-1.97455438e+02, -3.34356835e+00],
       [ 2.56092573e+02,  8.00600166e+01],
       [-1.97433014e+02, -8.99991194e+00],
       [-2.14460370e+01,  1.07757933e+01],
       [ 4.81576691e+01,  2.98278622e+00],
       [ 6.66125338e+01, -4.24489787e+01],
       [-1.96518015e+02, -1.37627746e+01],
       [ 9.75269514e+01, -2.38014958e+01],
       [-1.98687906e+02,  3.27915163e+01],
       [-1.98890607e+02,  1.76219377e+01],
       [ 2.53652520e+01, -1.21636107e+01],
       [-1.97712231e+02, -5.22472307e-01],
       [ 4.40980296e+01, -3.05089731e+01],
       [ 5.65760682e+01, -1.47511759e+01],
       [ 8.25744761e+00,  5.87028858e+00],
       [ 6.03112425e+01,  1.72889282e+01],
       [ 1.50865828e+01,  2.89756606e+01],
       [-1.99160656e+02,  1.37028464e+01],
       [ 1.07728718e+02,  6.02137208e-02],
       [ 2.19499622e+01, -2.21255523e+01],
       [ 4.30942662e+01, -1.81579949e+01],
       [ 7.70426383e+00, -1.90901777e+01],
       [ 9.06152628e+01,  6.62940308e+00],
       [ 4.58192323e+01,  4.11662625e+01],
       [ 4.51010307e+00,  3.98223215e+01],
       [ 1.74684571e+01,  2.73576533e+01],
       [-2.67793037e+01,  4.45079062e+00],
       [-2.88221198e+01, -4.86760269e+01],
       [-1.97820067e+02,  7.86991220e+00],
       [-1.97097468e+02, -9.35614544e+00],
       [ 1.00003308e+02,  1.24195446e+01],
       [-1.97263392e+02, -1.45936525e+01],
       [-1.99969514e+02,  2.67706843e+01],
       [-1.99409495e+02,  2.55826507e+01],
       [ 1.58709149e+00, -2.19103833e+01],
       [ 1.41572945e+02,  4.25746700e+01],
       [ 4.04904791e+01,  8.12632895e+00],
       [ 1.72571323e+01,  2.10609943e+01],
       [ 4.42085266e+01, -3.06617722e+01],
       [ 5.71422635e+01, -4.02359676e+01],
       [-3.64129874e+01, -1.43991868e+01],
       [ 1.36782020e+02,  4.36158462e+01],
       [ 7.08198907e+01, -3.01983220e+01],
       [ 6.51105752e+01, -4.79029723e+01],
       [ 7.46824111e+01,  1.04878847e+00],
       [-1.68209048e+01, -2.07309915e+01],
       [-1.98347727e+01, -1.52960370e+01],
       [-1.98061037e+02,  8.18391607e+00],
       [ 1.11244452e+02,  3.84222376e+01],
       [ 8.11988845e+00, -2.24038019e+01],
       [-2.67651346e+01, -3.28036376e+01],
       [-2.14085823e+01, -4.98318640e+01],
       [ 7.05354105e+01, -3.02665956e+01],
       [ 7.12074208e+01, -8.48407667e+00],
       [-1.95981616e+02, -1.12043198e+01],
       [ 4.70930313e+01,  2.00477899e+01],
       [ 2.76350731e+01, -2.84509627e+01],
       [-1.12196111e+02, -1.12000527e+01],
       [ 5.76493806e+01,  3.28448462e+01],
       [ 1.31985441e+02,  1.30740125e+01],
       [ 6.68533475e+01, -2.78735953e+00],
       [ 1.63392076e+01, -3.08357290e+01],
       [ 7.13057288e+01,  3.33840326e+01],
       [-1.98085934e+02, -1.27630498e+01],
       [ 1.23274996e+02, -1.26610473e+01],
       [-4.18525893e-01, -1.07266681e+01],
       [ 9.88081722e+01, -2.33884883e+01],
       [-1.99207423e+02,  2.51095711e+01],
       [ 7.34190744e+01, -1.79541567e+01],
       [-2.79909642e+01, -1.88667284e+00],
       [ 9.99546090e+01, -2.92119270e+00],
       [-1.98530086e+02,  8.73372197e+00],
       [ 3.88718071e+01, -3.65201531e+01],
       [ 1.97543848e+02, -5.52024706e+00],
       [ 2.59579743e+01,  1.59558986e+01],
       [-1.98309177e+02, -8.50742683e+00],
       [ 5.16533557e+00,  3.40956772e+01],
       [ 2.65785381e+01,  1.70445397e+01],
       [-1.98012904e+02,  8.67202284e+00],
       [-1.98541792e+02,  2.50730203e+01],
       [ 5.92419406e+01, -9.34157971e+00],
       [ 1.22584127e+02,  3.59357299e+01],
       [ 6.94741852e+01, -3.73453096e+01],
       [-1.95748664e+02, -2.54227619e+01],
       [-3.12353341e+01, -5.55423900e+00],
       [ 1.11778308e+02,  4.80761832e+00],
       [-3.75250659e+01, -8.82513131e+00],
       [ 1.05555588e+02,  5.74652689e+01],
       [-1.97903607e+02, -1.54068431e+00],
       [ 8.75755203e+01, -1.92971681e+01],
       [-1.97162941e+02,  1.03977193e+01],
       [ 2.46766972e+01, -4.99888380e+01],
       [-1.94675087e+02, -5.18654166e+01],
       [ 1.09708920e+02,  8.13810588e-03],
       [-1.99140695e+02,  1.06942805e+01],
       [ 7.41806292e-02, -3.53784362e+01],
       [ 1.07804326e+02, -4.20663419e+01],
       [ 5.13333101e+00, -2.83404758e+01],
       [-1.22952283e+01,  7.48690772e+00],
       [-1.71503275e+01, -4.60442610e+00],
       [ 1.86601702e+01, -3.39018848e+00],
       [-1.98008708e+02,  7.39452822e+00],
       [ 1.07589071e+02, -1.58058945e+01],
       [-2.39462753e+00,  1.08756193e+01],
       [-1.98056911e+02,  1.60164012e+00],
       [ 1.06618106e+01, -6.68195491e+01],
       [-1.96720566e+02, -2.38621140e+01],
       [ 1.29169596e+02,  3.66013513e+01],
       [ 6.65321666e+01,  8.56885272e+00],
       [-1.97590909e+02, -8.52699416e-01],
       [-1.97363768e+02, -2.60100657e-01],
       [ 4.95042114e+00, -1.99306369e+01],
       [ 5.26277405e+01, -2.95526074e+01],
       [ 3.35727647e+01, -2.49563247e+01],
       [ 1.21480341e+01, -1.98966982e+01],
       [ 2.73467658e+01, -3.38904335e+01],
       [ 3.12855051e+01, -3.82139132e+01],
       [ 8.15636439e+01, -5.04208759e+00],
       [ 2.45897820e+01,  2.78612047e+01],
       [ 4.24936718e+01, -2.56247808e+01],
       [-3.61489350e+01, -1.05333250e+01],
       [-1.97688134e+02,  8.94237507e+00],
       [ 1.43412795e+02,  6.83672858e+00],
       [ 5.96810623e+01, -3.61484099e+01],
       [-1.95664921e+02, -2.16233425e+01],
       [ 2.43097285e+01,  2.62556582e+00],
       [ 1.42374281e+02,  2.27915698e+01],
       [-1.99051812e+02,  1.72280205e+01],
       [ 1.19786803e+01,  2.16806901e+01],
       [ 9.24989227e+01,  3.38540307e+00],
       [-1.97249295e+02, -1.79018313e+01],
       [ 1.94828834e+01, -3.62568127e+01],
       [ 6.08931262e+01, -8.91385857e+00],
       [ 9.44555125e+01,  1.18115598e+01],
       [ 1.29718451e+02, -7.43621762e+00],
       [ 4.35691527e+00, -4.00088458e+01],
       [ 3.65992062e+01, -1.88989740e+01],
       [ 6.11421319e+01,  3.06449143e+01],
       [ 9.80022015e+00,  2.44774653e+00],
       [-1.97373758e+02,  1.15675583e+01],
       [ 3.07759503e+01,  9.06809668e+00],
       [ 3.66608430e+01,  1.62468756e+01],
       [ 7.23041042e+01, -3.63196386e+01],
       [ 1.90134815e+02,  3.31374117e+01],
       [ 3.11832556e+01,  3.99872150e+01],
       [ 4.94110845e+01, -3.55445573e+01],
       [ 2.16626263e+02, -1.80058093e+01],
       [ 1.03768443e+02, -2.79051417e+01],
       [-1.95016168e+02, -4.33297402e+01],
       [-1.96126297e+02, -3.63756752e+01],
       [ 8.24800041e+01,  2.54876069e+01],
       [ 2.37500501e+01, -1.45196992e+01],
       [-1.98241036e+02,  1.41652413e+01],
       [ 7.79164902e+01,  1.27820508e+01],
       [ 8.57604222e+01,  2.10111550e+01],
       [ 2.99033177e+01,  1.51419891e+01],
       [ 7.69822610e+01, -3.21417761e+01],
       [ 5.07208601e+01,  2.61817945e+00],
       [ 6.49438647e+00,  2.36111376e+01],
       [ 1.10247305e+02, -2.47542022e+01]])

In [50]:
model_rf.predict([[3.90341322e+00, -2.70952184e+010]])

array([0])