#  Naive Bayes Classifier Algorithm Part 2

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
df.groupby("Category").describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [10]:
df["Spam"] = df["Category"].apply(lambda x : 1 if x=='spam' else 0)

In [11]:
df.head()

  Category                                            Message  Spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message,df.Spam,test_size=0.25)

CountVectorizer is a text preprocessing technique commonly used in natural language processing (NLP) tasks for converting a collection of text documents into a numerical representation.

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
v =CountVectorizer()

In [18]:
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [20]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [21]:
model.fit(x_train_count,y_train)

MultinomialNB()

In [22]:
email =["Congratulations! You've won a $1,000,000 prize! Click here to claim it now!",
        "Could you please review the attached report and provide your feedback by Friday?" ]
email_count =v.transform(email)

In [24]:
model.predict(email_count)

array([1, 0], dtype=int64)

In [25]:
x_test_count =v.transform(x_test) # v.trasnform is use to convet text data into numeric data
model.score(x_test_count,y_test)

0.9849246231155779